body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #e3f4ff;
  margin: 16px auto;
  border: 8px solid white;
}

.title {
  background: #e3f4ff;
  border-bottom: 8px solid white;
  padding: 0px 8px 8px;
  font-size: large;
}

.content {
  background: #e3f4ff;
  padding: 4px 8px 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
  border-top:8px solid white
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px 8px;
  margin: auto;

}